# Vim
config/nvim/autoload/plugged/*
config/nvim/.netrwhist

# Emacs
configs/efs/eln-cache
configs/efs/elpa
configs/efs/straight
configs/efs/tree-sitter
configs/efs/.org-id-locations
configs/efs/history

.zsh_history

# nix related
/result
configs/zsh/.zcompdump
